#container {
	max-width: 700px;
	padding: 0px 10px;

	margin-left: auto;
	margin-right: auto;
}

.header {
	position: relative;
	padding: 20px 0px;

	font-family: 'Trirong', serif;
	font-size: 40px;
	color: #333;
}

.header a {
	text-decoration: none;
	color: #333;
}

.header .socials {
	float: right;
}

.header .socials a {
	margin-left: 20px;
	color: #999;
	font-size: 0.6em;
}

.header .socials a:hover {
	color: #333;
}

.footer {
	margin: 50px 0;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	color: #999;
}

.project {
	margin-bottom: 20px;
}

.project .title {
	position: relative;
	float: left;

	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	color: #333;
}

.project .details {
	position: relative;
	float: right;

	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	color: #333;
}

img {
	width: 100%;
	border: 1px solid #333;
}

p {
	font-family: 'Rubik', sans-serif;
}

.brand {
	font-family: 'Rubik', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
}

.brand .title {
	font-size: 1.2em;
}

.brand .subtitle {
	color: #666;
}

.brand a {
	padding: 10px;

	text-decoration: none;
	color: #333;
	border: 1px solid #333;
	font-family: 'Rubik', sans-serif;
}

.brand a:hover {
	color: white;
	background-color: #333;
}